body {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, Helvetica, "simsun";
}

p,
h1,
h2,
h3,
h4,
h5,
li,
ul,
dd,
dt,
dl,
form {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

ul li {
	list-style: none;
}

a {
	color: #333;
}

a:hover {
	color: #FF0000;
}

textarea {
	resize: none;
}

input,
a {
	outline: none;
}

.span20 {
	height: 20px;
	line-height: 20px;
	display: block;
}

.left {
	float: left;
	display: block;
}

.right {
	float: right;
	display: block;
}

.clear {
	clear: both;
}

.Panli_overlay {
	moz-opacity: 0.56;
	/* Moz + FF ͸����20% */
	opacity: 0.56;
	/*֧��CSS3����������FF 1.5Ҳ֧�֣�͸����20%*/
	filter: alpha(opacity=56);
	/* IE ͸����20% */
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
	height: 100%;
	width: 100%;
	_position: absolute;
	z-index: 800;
	display: none;
}

body {
	font-family: 'Microsoft YaHei';
	font-size: 12px;
}

#frame {
	width: 100%;
	background-color: #ffc90d;
	overflow: hidden;
}

.header_banner {
	width: 100%;
	margin: 0 auto;
	height: 630px;
}

.banner1 {
	background: url(images/Vacation_banner_02.jpg) no-repeat center;
	height: 100px;
}

.banner2 {
	background: url(images/Vacation_banner_03.jpg) no-repeat center;
	height: 100px;
}

.banner3 {
	background: url(images/Vacation_banner_04.jpg) no-repeat center;
	height: 100px;
}

.banner4 {
	background: url(images/Vacation_banner_05.jpg) no-repeat center;
	height: 100px;
}

.banner5 {
	background: url(images/Vacation_banner_06.jpg) no-repeat center;
	height: 100px;
}

.banner6 {
	background: url(images/Vacation_banner_07.jpg) no-repeat center;
	height: 130px;
}

#content_inner {
	width: 960px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.Vacation_content {
	margin-bottom: 25px;
	clear: both;
	overflow: hidden;
}

.Clothes_title {
	background: url(images/Vacation_banner_10.gif) no-repeat center center;
	height: 105px;
	margin-bottom: 15px;
}

.Vacation_more {
	background: url(images/Vacation_banner_13.gif) no-repeat right center;
	width: 64px;
	height: 105px;
	float: right;
	margin-right: 20px;
	display: block;
}

.Clothes_list {
	background-color: #f99d0d;
	padding: 20px 0 7px 20px;
	overflow: hidden;
}

.Clothes_list ul {
	overflow: hidden;
	*padding-bottom: 13px;
}

.Clothes_list li {
	width: 220px;
	height: 260px;
	margin: 0 13px 13px 0;
	background-color: #fff;
	float: left;
	display: block;
}

.pro_Price {
	color: #333;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	height: 50px;
	display: block;
}

.pro_Price a {
	color: #333;
	text-decoration: none;
}

.pro_Price a:hover {
	color: #333;
	text-decoration: underline;
}

.pro_Price span {
	color: #ff5b01;
}

.Shoes_title {
	background: url(images/Vacation_banner_22.gif) no-repeat center center;
	height: 105px;
	margin-bottom: 15px;
}

.Bag_title {
	background: url(images/Vacation_banner_26.gif) no-repeat center center;
	height: 105px;
	margin-bottom: 15px;
}

.Hat_title {
	background: url(images/Vacation_banner_29.gif) no-repeat center center;
	height: 105px;
	margin-bottom: 15px;
}

.Others_title {
	background: url(images/Vacation_banner_32.gif) no-repeat center center;
	height: 105px;
	margin-bottom: 15px;
}