<!-- frame -->
<div id="frame">
  <div class="header_banner">
    <div class="banner__bg_col_1">&nbsp;</div>
  </div>
  <div id="content_inner">
    <div class="content__floor content__floor_1">
      <div class="en-w m-auto">
        <div class="content_title">
          <a href="#" title="more " target="_blank" class="more">&nbsp;</a>
        </div>
        <div class="content__list">
          <ul>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="content__floor content__floor_2">
      <div class="en-w m-auto">
        <div class="content_title">
          <a href="#" title="more " target="_blank" class="more">&nbsp;</a>
        </div>
        <div class="content__list">
          <ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- frame end-->
<script src="./data/data.js" charset="utf-8"></script>
<script src="./app.js" charset="utf-8"></script>
<script>
  $(function() {
     FloorList(productData);
  });
</script>