<!-- frame -->
<div id="frame">
    <div class="header_banner">
        <div class="banner1">&nbsp;</div>
        <div class="banner2">&nbsp;</div>
        <div class="banner3">&nbsp;</div>
        <div class="banner4">&nbsp;</div>
        <div class="banner5">&nbsp;</div>
        <div class="banner6">&nbsp;</div>
        <div class="banner7">&nbsp;</div>
    </div>
    <div id="content_inner">
        <div class="Strawberry" id="floor-1">
            <div class="Strawberry_title">
                <div>
                    <a class="title_more" href="#" target="_blank"></a>
                </div>
            </div>
            <div class="show_box_inner">
                <div class="box_left bigbox">
                    <a class="big1" href="#" target="_blank"><img title="product" src="./build/css/images/Fruit_banner_18.jpg" alt="1" /></a><a class="product_name" href="#" target="_blank">Bridal Gown</a><strong class="price">$ 134.43</strong>
                    <a class="buynow" href="#" target="_blank"></a>
                </div>
                <div class="box_right smbox">
                    <ul>
                        <li class="product">
                            <div class="tupian">
                                <a class="box_tu" href="#" target="_blank"><img title="product" src="./build/css/images/Fruit_banner_20.jpg" alt="1" /></a>
                            </div>
                            <a class="product_name" href="#" target="_blank">titletitle</a><strong class="price">$ 12.95 </strong>
                            <a class="buynow" href="#" target="_blank"></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="Watermelon" id="floor-2">
            <div class="Watermelon_title">
                <div>
                    <a class="title_more" href="#" target="_blank"></a>
                </div>
            </div>
            <div class="show_box_inner1">
                <div class="box_right1 smbox">
                    <ul>

                    </ul>
                </div>
                <div class="box_left1 bigbox">

                </div>
            </div>
        </div>
        <div class="Banana" id="floor-3">
            <div class="Banana_title">
                <div>
                    <a class="title_more" href="#" target="_blank"></a>
                </div>
            </div>
            <div class="show_box_inner">
                <div class="box_left bigbox">

                </div>
                <div class="box_right smbox">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Cherry" id="floor-4">
            <div class="Cherry_title">
                <div>
                    <a class="title_more" href="#" target="_blank"></a>
                </div>
            </div>
            <div class="show_box_inner1">
                <div class="box_right1 smbox">
                    <ul>

                    </ul>
                </div>
                <div class="box_left1 bigbox">

                </div>
            </div>
        </div>
        <div class="Others" id="floor-5">
            <div class="Others_title">
                <div>
                    <a class="title_more" href="#" target="_blank"></a>
                </div>
            </div>
            <div class="show_box_inner">
                <div class="box_left bigbox">

                </div>
                <div class="box_right smbox">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- frame end-->
<script src="./data/data.js" charset="utf-8"></script>
<script src="./app.js" charset="utf-8"></script>
<script>
   $(function(){      
       FloorList(productData);
    }); 
</script>