body {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, Helvetica, "simsun";
}

p,
h1,
h2,
h3,
h4,
h5,
li,
ul,
dd,
dt,
dl,
form {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

ul li {
	list-style: none;
}

a {
	color: #333;
}

a:hover {
	color: #FF0000;
}

textarea {
	resize: none;
}

input,
a {
	outline: none;
}

.span20 {
	height: 20px;
	line-height: 20px;
	display: block;
}

.left {
	float: left;
	display: block;
}

.right {
	float: right;
	display: block;
}

.clear {
	clear: both;
}

.Panli_overlay {
	moz-opacity: 0.56;
	opacity: 0.56;
	filter: alpha(opacity=56);
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
	height: 100%;
	width: 100%;
	_position: absolute;
	z-index: 800;
	display: none;
}

body {
	font-family: 'Microsoft YaHei';
	font-size: 12px;
}

#frame {
	width: 100%;
	background-color: #2d2d2d;
	overflow: hidden;
}

.header_banner {
	width: 100%;
	margin: 0 auto;
	height: 555px;
}

.banner1 {
	background: url(images/Kuso_banner_03.jpg) no-repeat center;
	height: 100px;
}

.banner2 {
	background: url(images/Kuso_banner_05.jpg) no-repeat center;
	height: 100px;
}

.banner3 {
	background: url(images/Kuso_banner_06.jpg) no-repeat center;
	height: 100px;
}

.banner4 {
	background: url(images/Kuso_banner_07.jpg) no-repeat center;
	height: 100px;
}

.banner5 {
	background: url(images/Kuso_banner_08.jpg) no-repeat center;
	height: 155px;
}

#content_inner {
	width: 960px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

#content_inner ul{
	position: relative;
	clear: both;
	overflow: hidden;
	margin-right: -30px;
}

.Kuso_content {
	margin-bottom: 40px;
	clear: both;
	overflow: hidden;
}

.Kuso_list li {
	width: 230px;
	margin: 0 13px 13px 0;
	padding-bottom: 15px;
	background-color: #fff;
	float: left;
	display: block;
}

.pro_Price {
	color: #333;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	height: 46px;
	display: block;
}

.pro_Price a {
	color: #333;
	text-decoration: none;
}

.pro_Price a:hover {
	color: #333;
	text-decoration: underline;
}

.pro_Price span {
	color: #ff5432;
}

.Kuso_list .pro_right {
	margin: 0;
}

a.buynow {
	display: block;
	width: 126px;
	height: 43px;
	background: url(images/Kuso_banner_15.gif) no-repeat center top;
	margin: 0 auto;
}

a.buynow:hover,
a.buynow:active {
	background: url(images/Kuso_banner_15.gif) no-repeat 0px -43px;
}
.more{
	padding-top: 20px;
	text-align: center;
	a{
		display: inline-block;
		background-color: #febb0a;
		color: #FFF;
		width: 300px;
		height: 36px;
		line-height: 36px;
		font-size: 16px;
		border-radius: 5px;
		text-decoration: none;
		&:hover{
			opacity: .8;
		}
	}
}