<!-- frame -->
<div id="frame">
  <div class="header_banner">
    <div class="banner1">&nbsp;</div>
    <div class="banner2">&nbsp;</div>
    <div class="banner3">&nbsp;</div>
    <div class="banner4">&nbsp;</div>
    <div class="banner5">&nbsp;</div>
    <div class="banner6">&nbsp;</div>
  </div>
  <div id="content_inner">
    <div class="Vacation_content">
      <div class="Clothes_title">
        <a href="#" title="more >>" target="_blank" class="Vacation_more">&nbsp;</a>
      </div>
      <div class="Clothes_list">
        <ul>
      </div>
    </div>
    <div class="Vacation_content">
      <div class="Shoes_title">
        <a href="#" title="more >>" target="_blank" class="Vacation_more"></a>
      </div>
      <div class="Clothes_list">
        <ul>
          <li><a href="#" target="_blank"><img src="<%= path %>css/images/Vacation_banner_18.jpg" width="220" height="210"></a>
            <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
              <span>Price：$12.95</span></div>
          </li>

        </ul>
      </div>
    </div>
    <div class="Vacation_content">
      <div class="Bag_title">
        <a href="#" title="more >>" target="_blank" class="Vacation_more">&nbsp;</a>
      </div>
      <div class="Clothes_list">
        <ul>
        </ul>
      </div>
    </div>
    <div class="Vacation_content">
      <div class="Hat_title">
        <a href="#" title="more >>" target="_blank" class="Vacation_more">&nbsp;</a>
      </div>
      <div class="Clothes_list">
        <ul>
        </ul>
      </div>
    </div>
    <div class="Vacation_content">
      <div class="Others_title">
        <a href="#" title="more >>" target="_blank" class="Vacation_more">&nbsp;</a>
      </div>
      <div class="Clothes_list">
        <ul>
          <li><a href="#" target="_blank"><img src="<%= path %>css/images/Vacation_banner_18.jpg" width="220" height="210"></a>
            <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
              <span>Price：$12.95</span></div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<!-- frame end-->
<script src="./data/data.js" charset="utf-8"></script>
<script src="./app.js" charset="utf-8"></script>
<script>
   $(function(){      
       FloorList(productData);
    }); 
</script>