<!-- frame -->
<div id="frame">
  <div class="header_banner">
    <div class="banner1">&nbsp;</div>
    <div class="banner2">&nbsp;</div>
    <div class="banner3">&nbsp;</div>
    <div class="banner4">&nbsp;</div>
    <div class="banner5">&nbsp;</div>
  </div>
  <div id="content_inner">
    <div class="Kuso_content">
      <div class="Kuso_list">
          <ul>
            <li><a href="#" target="_blank"><img src="./build/css/images/Kuso_banner_11.jpg" width="230" height="230"></a>
              <div class="pro_Price"><a href="#" target="_blank">xxxxxxxxxxxxxxxxxx</a><br />
              <span>Price：$12.95</span></div>
              <div><a class="buynow" href="#" target="_blank"></a></div>
            </li>
        </ul>
      </div>
      <div class="more">
        <a href="http://www.panlishop.com/Product/List.html?keyword=%E6%81%B6%E6%90%9E" target="_blank">More >></a>
      </div>
    </div>
   
  </div>
</div>
<!-- frame end-->
<script src="./data/data.js" charset="utf-8"></script>
<script src="./app.js" charset="utf-8"></script>
<script>
  $(function() {
     FloorList(productData);
  });
</script>